@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

    --color-brand-950: #0e3415;
    --color-brand-600: #587e5b;
    --color-brand-300: #9ac39d;
    --color-brand-100: #9ac39d4d; /* 30% opacity */
    --color-brand-50: #eef5ef;
    --color-brand-surface: #fcfdfc;
}

html,
body {
    @apply bg-white text-brand-950 antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-brand-300/20 rounded-full;
}
