@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

    --color-brand-950: #0a2810;
    --color-brand-900: #0e3415;
    --color-brand-800: #1a4d23;
    --color-brand-700: #256631;
    --color-brand-600: #2f7f3f;
    --color-brand-500: #3a984d;
    --color-brand-400: #5eb372;
    --color-brand-300: #82cd97;
    --color-brand-200: #b4e0bf;
    --color-brand-100: #d9f0de;
    --color-brand-50: #eef8f1;
    --color-brand-surface: #fcfdfc;

    --color-brand-accent: #587e5b;
    --color-brand-surface-active: #eef5ef;
    --color-brand-surface-active-hover: #dcebdd;
    --color-brand-border-light: #9ac39d;
}

html,
body {
    @apply bg-white text-brand-950 antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-brand-300/20 rounded-full;
}
